# Basics of Pandas with python

# <font color ='yellow'>1.Pandas</font>
## <font color='red'>**Time Line**</font>
>- 2008 Development Pandas started
>- 2009 Pandas become open sourse 
>- 2012 First adition of python for data analysis is published
>- 2015 Pandas become a NumFOCUS sponsered project
>- 2018 First in personcore development sprint
---
 - ## <font color = 'red'>**Steps of data analysis**</font>
>Step 1: Raw Data \
Step 2: Data base \
Step3: Data filter\
Step 4: ignore delete data\
Step 5:Tidy data \
Step 6: Combine two data set into 1 \
Step 7: Split data  \
Step 8: Missing values \
Step 9: duplicate values  \
Step 10: data scrapping from image
- it is use for 
- #  <font color = 'red'>**DataManipulation**</font>
# - Data Analysis

- Why we use pandas ?
   

- ## <font color = 'red'>**DataManipulatio**</font>

- Data manipulation is the process of manupulating  or changing information to make it more organized and readable.

- ## <font color = 'red'>**purpose**</font>

>- Consistant Data
>- Project related data
>- Creat more values from data
>- Remove and ignore data
  
  - ## <font color = 'red'>**Data Analysis**</font>
>- Virtual part of business
>- Learn and adopt (Nokia , Samsung , Apple)
>- Data driven decision making (Codanic Youtube)
>- Data driven policy making(Methane  Emission , pollution etc)
>- How many likes and reponeses?
>- Should i continue this course?
>- How internation we are?
>- how good is oue model?
>- Should we ban desl cars?
>- Percent of people?
>- Engineering work performances

- ## <font color = 'red'>**Types of Data Analysis**</font>
 
>1 Descriptive Analytics : What happened?\
2  Diagnostic analytics: Why did it happen?\
3  Perdective analytics: What is likely to happpen in the future?
4  Perscriptive analytics: What is the best course of action to take?

>|Pandas|Excel|
>|---|---|
>|Data Fram|Worksheet|
>|Series|Colums|
>|Index|Row Headings|
>|Row|Row|
>|Nan|Empty cell|

- How to import libraries

In [1]:
# pip install pandas 
# pip install nump

- Import Libraries

In [7]:
import pandas as pd
import numpy as np

In [9]:
# object creation
s = pd.Series([1,2,3,np.NAN,4,5,7])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
6    7.0
dtype: float64

In [12]:
dates = pd.date_range("20200101",periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
dates = pd.date_range("20200101",periods=6)
dates
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2020-01-01 -0.281697 -0.769680 -1.561341  1.295539
2020-01-02 -0.883380 -0.706388  1.061229  0.312234
2020-01-03 -1.415512 -0.577546 -0.525579  1.247695
2020-01-04  1.365309  0.463221  1.046981  0.532327
2020-01-05 -0.798943  1.442191 -0.382691 -0.556024
2020-01-06 -0.731016 -0.737103  0.159617  1.525516

In [16]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B":  pd.Timestamp("20130102"),
        "C": pd.Series(1,index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test","train","test","train"]),
        "F": "foo"


    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [19]:
df.head(4)

                   A         B         C         D
2020-01-01 -0.281697 -0.769680 -1.561341  1.295539
2020-01-02 -0.883380 -0.706388  1.061229  0.312234
2020-01-03 -1.415512 -0.577546 -0.525579  1.247695
2020-01-04  1.365309  0.463221  1.046981  0.532327

In [20]:
df.tail(2)

                   A         B         C         D
2020-01-05 -0.798943  1.442191 -0.382691 -0.556024
2020-01-06 -0.731016 -0.737103  0.159617  1.525516

In [21]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [22]:
df.to_numpy()

array([[-0.28169749, -0.76968011, -1.56134058,  1.29553923],
       [-0.88337961, -0.7063877 ,  1.06122929,  0.31223433],
       [-1.41551156, -0.5775458 , -0.52557909,  1.24769468],
       [ 1.36530869,  0.4632211 ,  1.04698134,  0.53232748],
       [-0.79894323,  1.44219064, -0.38269109, -0.55602372],
       [-0.73101586, -0.73710294,  0.15961722,  1.52551625]])

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.457540 -0.147551 -0.033630  0.726215
std    0.963752  0.909080  1.010103  0.785883
min   -1.415512 -0.769680 -1.561341 -0.556024
25%   -0.862271 -0.729424 -0.489857  0.367258
50%   -0.764980 -0.641967 -0.111537  0.890011
75%   -0.394027  0.203029  0.825140  1.283578
max    1.365309  1.442191  1.061229  1.525516

In [25]:
# For Transport data
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [26]:
# Sorting
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2020-01-01 -0.281697 -0.769680 -1.561341  1.295539
2020-01-02 -0.883380 -0.706388  1.061229  0.312234
2020-01-03 -1.415512 -0.577546 -0.525579  1.247695
2020-01-04  1.365309  0.463221  1.046981  0.532327
2020-01-05 -0.798943  1.442191 -0.382691 -0.556024
2020-01-06 -0.731016 -0.737103  0.159617  1.525516

In [30]:
# According to variables
df.sort_values(by="C" , ascending=True)

                   A         B         C         D
2020-01-01 -0.281697 -0.769680 -1.561341  1.295539
2020-01-03 -1.415512 -0.577546 -0.525579  1.247695
2020-01-05 -0.798943  1.442191 -0.382691 -0.556024
2020-01-06 -0.731016 -0.737103  0.159617  1.525516
2020-01-04  1.365309  0.463221  1.046981  0.532327
2020-01-02 -0.883380 -0.706388  1.061229  0.312234

In [32]:
# select colu,
df["A"]

2020-01-01   -0.281697
2020-01-02   -0.883380
2020-01-03   -1.415512
2020-01-04    1.365309
2020-01-05   -0.798943
2020-01-06   -0.731016
Freq: D, Name: A, dtype: float64

In [34]:
# row vise selection
df[1:3]

                   A         B         C         D
2020-01-02 -0.883380 -0.706388  1.061229  0.312234
2020-01-03 -1.415512 -0.577546 -0.525579  1.247695

In [35]:
# Label vise data or cross section
df.loc[dates[3]]

A    1.365309
B    0.463221
C    1.046981
D    0.532327
Name: 2020-01-04 00:00:00, dtype: float64

In [36]:
# get clou vise data
df.loc[:, ["A","B"]]

                   A         B
2020-01-01 -0.281697 -0.769680
2020-01-02 -0.883380 -0.706388
2020-01-03 -1.415512 -0.577546
2020-01-04  1.365309  0.463221
2020-01-05 -0.798943  1.442191
2020-01-06 -0.731016 -0.737103

In [37]:
#  How to get spacific data tak ka
df.loc["20200103":"20200106",["A","B"]]

                   A         B
2020-01-03 -1.415512 -0.577546
2020-01-04  1.365309  0.463221
2020-01-05 -0.798943  1.442191
2020-01-06 -0.731016 -0.737103

In [39]:
#  how to get spacific data
df.loc[["20200103","20200106"],["A","B"]]

                   A         B
2020-01-03 -1.415512 -0.577546
2020-01-06 -0.731016 -0.737103

In [40]:
# for date spafic value
# scaler value
df.at[dates[0],"A"]

-0.2816974926402663

In [42]:
# spacific location
df.iloc[0:2]
# df.iloc[0:2,3:4]
# implicity
# df.iloc[2:2, :]

                   A         B         C         D
2020-01-01 -0.281697 -0.769680 -1.561341  1.295539
2020-01-02 -0.883380 -0.706388  1.061229  0.312234

In [43]:
#  For colume
df.iloc[:,0:2]

                   A         B
2020-01-01 -0.281697 -0.769680
2020-01-02 -0.883380 -0.706388
2020-01-03 -1.415512 -0.577546
2020-01-04  1.365309  0.463221
2020-01-05 -0.798943  1.442191
2020-01-06 -0.731016 -0.737103

In [45]:
# how to use condition
df[df["A"]>0]

                   A         B         C         D
2020-01-04  1.365309  0.463221  1.046981  0.532327

In [46]:
#  For whole data chack values
df[df>0]

                   A         B         C         D
2020-01-01       NaN       NaN       NaN  1.295539
2020-01-02       NaN       NaN  1.061229  0.312234
2020-01-03       NaN       NaN       NaN  1.247695
2020-01-04  1.365309  0.463221  1.046981  0.532327
2020-01-05       NaN  1.442191       NaN       NaN
2020-01-06       NaN       NaN  0.159617  1.525516

In [47]:
# For copy 
df2=df.copy()

In [52]:
df2["E"] = ["one","two","three","four","five ","one"]
df2

                   A         B         C         D      E
2020-01-01 -0.281697 -0.769680 -1.561341  1.295539    one
2020-01-02 -0.883380 -0.706388  1.061229  0.312234    two
2020-01-03 -1.415512 -0.577546 -0.525579  1.247695  three
2020-01-04  1.365309  0.463221  1.046981  0.532327   four
2020-01-05 -0.798943  1.442191 -0.382691 -0.556024  five
2020-01-06 -0.731016 -0.737103  0.159617  1.525516    one

In [54]:
# how to get avarage of coulums
col = df.loc[: , "A":"B"]
df2['Average'] = col.mean(axis=1)
df2

                   A         B         C         D      E   Average
2020-01-01 -0.281697 -0.769680 -1.561341  1.295539    one -0.525689
2020-01-02 -0.883380 -0.706388  1.061229  0.312234    two -0.794884
2020-01-03 -1.415512 -0.577546 -0.525579  1.247695  three -0.996529
2020-01-04  1.365309  0.463221  1.046981  0.532327   four  0.914265
2020-01-05 -0.798943  1.442191 -0.382691 -0.556024  five   0.321624
2020-01-06 -0.731016 -0.737103  0.159617  1.525516    one -0.734059